* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/background.jpg");
}

#root {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.headline {
  font-size: 50px;
  font-style: italic;
  color: rgb(233, 201, 159);
  position: absolute;
  top: 20px;
  left: 20px;
}

.scores {
  font-size: 30px;
  font-style: bold;
  color: rgb(233, 201, 159);
  position: absolute;
  top: 50px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.modal/*,
.modal-welcome*/ {
  display: none;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

dialog.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

dialog div {
  background: transparent;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
}

dialog.out div {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

dialog h1 {
  font-size: 50px;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  letter-spacing: 2px;
  text-align: center;
}

dialog button {
  background-color: black;
  border-radius: 20px;
  height: 70px;
  width: 200px;
  color: rgb(233, 201, 159);
  font-size: 30px;
  border: none;
  transition: transform 0.1s ease-in-out;
}

dialog button:hover {
  transform: scale(1.1);
  background-color: rgb(233, 201, 159);
  color: black;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
}

dialog button:active {
  transform: scale(0.9);
}

dialog button:focus {
  outline: none;
}

.modal form {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

form > button {
  height: 35px;
  width: 120px;
  border-radius: 10px;
  font-size: 15px;
}

form > input {
  height: 35px;
  width: 120px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 20px;
  border: 2px solid black;
  outline: none;
  background: rgb(233, 201, 159);
}

img {
  padding: 10px;
}

.board {
  display: grid;
  grid-template: repeat(5, auto) / repeat(5, minmax(50px, 110px));
  gap: 20px;
}

.board > div {
  border: 1px solid;
}

.board > div {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
  background-color: rgb(233, 201, 159);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.board > div:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.7);
}

.board > div:active {
  transition: 0.1s;
  transform: scale(0.9);
}

.score-board {
  position: absolute;
  top: 20%;
  right: 10%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  color: rgb(233, 201, 159);
  max-height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.score-board > div {
  padding: 5px;
}

.loader {
  border: 10px solid black;
  border-top: 10px solid rgb(233, 201, 159);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  align-self: center;
  margin: 10px;
}

.loader-text {
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, rgb(233, 201, 159), black);
  animation: textColor 7s linear infinite;
  background-size: 500%;
  background-clip: text;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.sources {
  margin-left: 50px;
  margin-bottom: 30px;
  color: rgb(233, 201, 159);
}

a {
  color: rgb(233, 201, 159);
}

.github {
  margin-right: 50px;
  margin-bottom: 30px;
  height: 50px;
  filter: invert(91%) sepia(11%) saturate(1328%) hue-rotate(328deg)
    brightness(94%) contrast(95%);
  transition: transform 1.4s ease-in-out;
}

.github:hover {
  transform: rotate(720deg) scale(1.3);
}

@keyframes textColor {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1300px) {
  .score-board,
  footer {
    position: static;
  }
}

@media (max-width: 800px) {
  header {
    justify-content: center;
  }
  .headline {
    display: none;
  }
  .scores {
    position: static;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .board {
    gap: 10px;
    margin: 30px;
  }
  .board > div {
    width: auto;
    height: auto;
  }
  .sources {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .board > div:hover {
    transform: none;
  }
  .board > div:active {
    transform: none;
  }
}
